{% extends  'educational_app/base.html' %}
{% load static %}
{% block title %}
    Учебные проекты
{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
    <h1>Учебные проекты</h1>
    <h2 class="count">Проектов: {{ works.count }}</h2>
    <div class="works">
        {% for work in works %}
            <div class="work">
                <img src="{{ work.image.url }}" alt="{{ work.title }}">
                <a href="{% url 'details' work.id %}">
                    {{ work.title }}
                </a>
                <p>{{ work.description | truncatechars:200 }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}